extends layout

block content
	section.noAside
		h1= message
		h1 Ajouter une question à la base de donnée
		form#ajoutQuestion(method='POST', action='')
			label(for='enonce') Enoncé : 
			input(type="text", name="enonce", id="enonce" required)
			br
			label(for='domaine') Domaine : 
			input(type="radio", name="domaine", value="HTML")
			| HTML
			input(type="radio", name="domaine", value="CSS")
			| CSS
			input(type="radio", name="domaine", value="Javascript")
			| Javascript
			div#reponses
				div
					input(type="radio", name="reponse", value="0")
					input(type="text", name="choix", id="reponse0", class="choix" required)
					a#0.supprimerReponse Supprimer réponse
				div
					input(type="radio", name="reponse", value="1")
					input(type="text", name="choix", id="reponse1", class="choix" required)
					a#1.supprimerReponse Supprimer réponse
			button#ajouterReponse Ajouter une réponse
			br
			br
			input.envoyer(type='submit')
			#alerteDomaine.ui-widget
				.ui-state-error.ui-corner-all
					p Veuillez sélectionner un domaine pour la question.
			#alerteReponse.ui-widget
				.ui-state-error.ui-corner-all
					p Veuillez sélectionner la bonne réponse.
	include footer
	script(type='text/javascript', src='javascripts/ajouterQuestion.js')
