extends layout

block content
	section.noAside
		h1 Instructions
		img.flottante(src='images/lenna.bmp', alt='Logo du site - Lenna Soderberg')
		p
			| Choisissez les tests rapides pour tester vos connaissances dans différents domaines des technologies du web.
			| Vous pouvez continuer les questions en boucle et abandonner quand vous le souhaitez.
		p
			| Pour certifier ces connaissances, passez un examen dans le domaine qui vous plaira avec le
			| nombre de questions que vous voulez. Si vous abandonnez l'examen avant la fin, votre note sera plus faible.
		p Vous pouvez à tout moment voir vos statistiques sur votre tableau de bord
	include footer