doctype html
html(lang='fr')
	head
		meta(charset='utf-8')
		title= titre
		link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
		script(type='text/javascript', src='javascripts/jquery-2.1.1.js')
	body
		nav
			a.current(href='index') Accueil
			a(href='dashboard') Tableau de bord
			a(href='instructions') Instructions
		block content