extends layout

block content
	div(ng-controller="QuestionController")
		section
			em#nomDomaine {{domaine}}
			h1#enonceQuestion {{enonce}}
			article#listeChoix
				label(ng-repeat="reponse in reponseList" for="{{$index}}")
					input(type='radio', name='reponse', id="{{$index}}")
					{{reponse}}
			input#valider(type='submit', name='valider', ng-click='action()')
			if examen
				a#abandonner(href='results') Abandonner
			else
				a#abandonner(href='dashboard') Retour au menu
		aside#statistiques
			h1 Note actuelle :
			p {{note}}/{{nbQuestions}}
	include footer
	script(type='text/javascript', src='javascripts/gestionStorage.js')
	if examen
		script(type='text/javascript', src='javascripts/examen.js')
	else
		script(type='text/javascript', src='javascripts/question.js')