extends layout

block content
	section
		em#nomDomaine
				h1#enonceQuestion
				form.reponses(action='quicktest', method='post')
					article#listeChoix
					input#valider.valider(type='submit', value='Corriger', name='valider')
				a.abandonner(href='results') Retour au menu
	aside#statistiques
		h1 Note actuelle :
		p#note
	include footer
	script(type='text/javascript', src='javascripts/quicktest.js')
	script(type='text/javascript', src='javascripts/gestionQuestions.js')
	script(type='text/javascript', src='javascripts/baseDonnees.js')