extends layout
block content
	section.noAside
		h1 Note finale
		p#note
		p#message
		a(href='dashboard') Retourner au tableau de bord
	include footer
	script(type='text/javascript', src='javascripts/results.js')
	script(type='text/javascript', src='javascripts/baseDonnees.js')

